/* W3.CSS 4.13 June 2019 by Jan Egil and Borge Refsnes */

html {
    box-sizing: border-box
}

*,
*:before,
*:after {
    box-sizing: inherit
}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

input {
    font: inherit;
    margin: 0
}

input {
    overflow: visible
}


/* End extract */

html,
body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

.w3-black {
    color: #fff!important;
    background-color: #000!important
}

.w3-row-padding:after,
.w3-row-padding:before {
    content: "";
    display: table;
    clear: both
}

.w3-row-padding {
    padding: 0 8px
}

.w3-border-0 {
    border: 0!important
}

.w3-dark-grey {
    color: #fff!important;
    background-color: #616161!important
}

.w3-input {
    padding: 8px;
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%
}

.w3-round {
    border-radius: 4px
}


/* end of short css */