html {
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 400px;
}

body {
    background-color: Moccasin;
    height: 500px;
    width: 400px;
    margin: 5px 10px 10px;
}

h3 {
    margin-bottom: 1px;
}

textarea {
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}